{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Date reservation</th>
            <th>Client</th>
        </tr>
        </thead>
        <tbody>
        {% for p in parts %}
            
            <tr>
                <td>{{ p.dateRes|date('d-m-Y') }}</td>
                <td>{{ p.client.prenom  }} {{ p.client.nom  }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <li>
        <a  class="btn btn-default" href="{{ path('evennements_index') }}"> Back to Événements <i class="fa fa-backward"> </i> </a>
    </li>
{% endblock %}