{% extends 'FrontBundle::layout.html.twig' %}

{% block body %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Nom Client</th>
            <th>Date Reservation</th>

        </tr>
        </thead>
        <tbody>
        {% for p in parts %}

            <tr>
                <td>{{ p.client.prenom  }} {{ p.client.nom  }} </td>
                <td>{{ p.dateRes|date('d-m-Y') }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-success" href="{{ path('evennements_index') }}"><i class="fa fa-arrow-left" > Back to the liste </i> </a>

{% endblock %}