{% extends "BackBundle::panel.html.twig" %}

{% block body %}
    <h2>La liste des signaux</h2>
    <br/>
    <a href="" class="btn btn-danger pull-right"> Supprimer</a>
    <table  class="col-md-9 table table-condensed"  >
        <tr>

            <td><b>Client</b></td>
            <td><b>Contenu</b> </td>
            <td><b>Date du signale</b></td>
        </tr>

        {% for com in coms %}

            <tr>
                <td>{{ com.client.username }}</td>
                <td> {{ com.contenu }}</td>
                <td>{{ com.dateSg|date("d/m/Y") }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
