.form-controlS {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #9170E4;
    border-radius: 10px;
}
.pShow{
    padding: 15px;
}

.btn-rechercher{
background: white;
    border: 2px solid #9170E4;
    border-radius: 5px;
}

.Title{
    width: 100%;
    font-size:35px;
    text-align:center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 774c7f8b1e1a154fc797224c226c03cca4959cfe
